@charset "UTF-8";
*,
*:after,
*:before {
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -ms-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;
}

html {
  position: relative;
}
html body {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  background-color: #e8e8e8;
  color: #5a5a5a;
  text-align: center;
  font-size: medium;
  font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue,
    Helvetica, Arial, sans-serif;
}
html body::-moz-selection {
  color: white;
  background-color: #78baff;
}
html body::selection {
  color: white;
  background-color: #78baff;
}

.account-type-page {
  position: relative;
  display: inline-block;
  width: 600px;
  padding: 30px 50px 250px 50px;
  background-color: white;
  overflow: hidden;
}
.account-type-page .footer-bg {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 250px;
  overflow: hidden;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}
.account-type-page .footer-bg embed {
  width: 100%;
}
.account-type-page button {
  position: relative;
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: #38b5ed;
  border: none;
  z-index: 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.account-type-page button:hover {
  cursor: pointer;
}
@media screen and (max-width: 599px) and (min-width: 0) {
  .account-type-page {
    width: 100%;
    padding: 25px;
    padding-bottom: 150px;
  }
  .account-type-page .footer-bg {
    height: 150px;
  }
  .account-type-page button {
    width: 120px;
    height: 40px;
    font-size: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}

.header h1 {
  margin: 0 auto;
  color: #50beef;
  font-weight: normal;
}
@media screen and (max-width: 599px) and (min-width: 0) {
  .header h1 {
    font-size: 20px;
  }
}

.type-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.type-block .arrow {
  position: absolute;
  top: 66px;
  height: 80px;
  width: 80px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  text-decoration: none;
  z-index: 100;
}
.type-block .arrow:hover {
  cursor: pointer;
}
.type-block .arrow:before {
  display: inline-block;
  line-height: 80px;
  font-size: 28px;
}
.type-block .arrow.prev {
  left: -85px;
  border-radius: 50%;
}
.type-block .arrow.prev:before {
  margin-left: 30px;
}
.type-block .arrow.next {
  right: -85px;
  border-radius: 50%;
}
.type-block .arrow.next:before {
  margin-right: 30px;
}
@media screen and (max-width: 599px) and (min-width: 0) {
  .type-block .arrow {
    height: 60px;
    width: 60px;
    top: 28px;
  }
  .type-block .arrow:before {
    line-height: 60px;
    font-size: 25px;
  }
  .type-block .arrow.prev {
    left: -46px;
  }
  .type-block .arrow.prev:before {
    margin-left: 15px;
  }
  .type-block .arrow.next {
    right: -46px;
  }
  .type-block .arrow.next:before {
    margin-right: 15px;
  }
}
.type-block .type-content-block {
  display: flex;
  overflow: hidden;
  padding-bottom: 20px;
}
.type-block .type-content-block .type-content {
  position: relative;
  flex-direction: column;
  width: calc(50% - 20px);
  padding: 20px;
  left: 8%;
  border: 2px solid #eef1f4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: all 0.5s;
}
.type-block .type-content-block .type-content + .type-content {
  margin-left: 30px;
}
.type-block .type-content-block .type-content.active {
  border: 2px solid #cdeffd;
}
.type-block .type-content-block .type-content.active .check-marker {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.type-block .type-content-block .type-content:hover {
  cursor: pointer;
}
.type-block .type-content-block .type-content:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
  content: "";
}
.type-block .type-content-block .type-content .img {
  display: inline-block;
  width: 150px;
}
.type-block .type-content-block .type-content .img embed {
  width: 100%;
}
.type-block .type-content-block .type-content .title {
  margin-top: 15px;
  font-weight: normal;
  color: #2b3a51;
}
.type-block .type-content-block .type-content .check-marker {
  position: absolute;
  bottom: -20px;
  right: -10px;
  width: 45px;
  height: 45px;
  background-color: #3ab5ed;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.type-block .type-content-block .type-content .check-marker:before {
  display: inline-block;
  color: white;
  line-height: 45px;
}
@media screen and (max-width: 599px) and (min-width: 0) {
  .type-block .type-content-block .type-content {
    padding: 10px;
    width: calc(50% - 15px);
  }
  .type-block .type-content-block .type-content .img {
    width: 110px;
  }
  .type-block .type-content-block .type-content .title {
    margin-top: 4px;
    font-size: 13px;
  }
  .type-block .type-content-block .type-content .check-marker {
    width: 30px;
    height: 30px;
    bottom: -15px;
    right: -6px;
  }
  .type-block .type-content-block .type-content .check-marker:before {
    line-height: 33px;
    font-size: 12px;
  }
  .type-block .type-content-block .type-content + .type-content {
    margin-left: 20px;
  }
}
.type-block .type-content-block[data-index="1"] .type-content {
  left: calc(0% + ((1 - 1) * -85%));
}
.type-block .type-content-block[data-index="2"] .type-content {
  left: calc(0% + ((2 - 1) * -85%));
}
.type-block .type-content-block[data-index="3"] .type-content {
  left: calc(0% + ((3 - 1) * -85%));
}
.type-block .type-content-block[data-index="4"] .type-content {
  left: calc(0% + ((4 - 1) * -85%));
}
.type-block .type-content-block[data-index="5"] .type-content {
  left: calc(0% + ((5 - 1) * -85%));
}
.type-block .type-content-block[data-index="6"] .type-content {
  left: calc(0% + ((6 - 1) * -85%));
}
.type-block .type-content-block[data-index="7"] .type-content {
  left: calc(0% + ((7 - 1) * -85%));
}
.type-block .type-content-block[data-index="8"] .type-content {
  left: calc(0% + ((8 - 1) * -85%));
}
.type-block .type-content-block[data-index="9"] .type-content {
  left: calc(0% + ((9 - 1) * -85%));
}
.type-block .type-content-block[data-index="10"] .type-content {
  left: calc(0% + ((10 - 1) * -85%));
}
@media screen and (max-width: 599px) and (min-width: 0) {
  .type-block .type-content-block[data-index="1"] .type-content {
    left: calc(0% + ((1 - 1) * -95%));
  }
  .type-block .type-content-block[data-index="2"] .type-content {
    left: calc(0% + ((2 - 1) * -95%));
  }
  .type-block .type-content-block[data-index="3"] .type-content {
    left: calc(0% + ((3 - 1) * -95%));
  }
  .type-block .type-content-block[data-index="4"] .type-content {
    left: calc(0% + ((4 - 1) * -95%));
  }
  .type-block .type-content-block[data-index="5"] .type-content {
    left: calc(0% + ((5 - 1) * -95%));
  }
  .type-block .type-content-block[data-index="6"] .type-content {
    left: calc(0% + ((6 - 1) * -95%));
  }
  .type-block .type-content-block[data-index="7"] .type-content {
    left: calc(0% + ((7 - 1) * -95%));
  }
  .type-block .type-content-block[data-index="8"] .type-content {
    left: calc(0% + ((8 - 1) * -95%));
  }
  .type-block .type-content-block[data-index="9"] .type-content {
    left: calc(0% + ((9 - 1) * -95%));
  }
  .type-block .type-content-block[data-index="10"] .type-content {
    left: calc(0% + ((10 - 1) * -95%));
  }
}

.middle-desc {
  display: inline-block;
  margin-top: 16px;
}
.middle-desc p {
  color: #bdbdbd;
  letter-spacing: 1.2px;
}
@media screen and (max-width: 599px) and (min-width: 0) {
  .middle-desc {
    margin-top: 20px;
  }
  .middle-desc p {
    font-size: 13px;
    letter-spacing: 0;
  }
}

.login-form {
  margin-top: 16px;
}
.login-form > * {
  display: inline-block;
  width: 100%;
}
.login-form .error {
  display: none;
  margin-top: 10px;
  border: 1px solid #f98686;
  text-align: left;
  padding: 5px 10px;
  font-size: 15px;
  background-color: #ffe9e9;
  color: #f98686;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.login-form .error:before {
  display: inline-block;
  margin: 2px;
  margin-right: 10px;
}
.login-form .error.active {
  display: block;
}
.login-form .input-block {
  position: relative;
  display: inline-block;
  width: 100%;
}
.login-form .input-block * {
  display: inline-block;
  width: 100%;
}
.login-form .input-block * + * {
  margin-top: 20px;
}
.login-form .input-block.active:before {
  display: block;
}
.login-form .input-block .type-title {
  position: absolute;
  width: auto;
  top: -14px;
  left: 20px;
  padding: 5px 10px;
  font-size: 13px;
  color: white;
  background-color: #2fb3ec;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.login-form .input-block input {
  height: 55px;
  line-height: calc(50px - 2px - 1px);
  color: black;
  font-size: 18px;
  border: 2px solid #e9ecef;
  padding: 0 50px;
  padding-right: 110px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.login-form .input-block input:-moz-placeholder {
  color: #c5c6c5;
}
.login-form .input-block input::-moz-placeholder {
  color: #c5c6c5;
}
.login-form .input-block input:-ms-input-placeholder {
  color: #c5c6c5;
}
.login-form .input-block input::-webkit-input-placeholder {
  color: #c5c6c5;
}
.login-form .input-block input:focus {
  outline: 0;
  border: 2px solid #10afec;
}
.login-form .input-block input:focus ~ .type-title {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.login-form .input-block a {
  position: absolute;
  display: inline-block;
  width: auto;
  top: 13px;
  right: 0px;
  padding: 5px 20px;
  border-left: 2px solid #eaeaea;
  text-decoration: none;
  color: #5cbeef;
}
.login-form .input-block i.icon {
  position: absolute;
  top: 39px;
  left: 20px;
  width: auto;
  font-size: 18px;
  color: #c5c6c5;
}
.login-form .error-txt {
  margin-top: 5px;
  display: none;
}
.login-form .error-txt.active {
  display: block;
}
.login-form .footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.login-form .footer-block .signup {
  color: #a6a6a6;
}
.login-form .footer-block .signup a {
  color: #5cbeef;
  text-decoration: none;
}
@media screen and (max-width: 599px) and (min-width: 0) {
  .login-form {
    margin-top: 5px;
  }
  .login-form .error {
    font-size: 13px;
  }
  .login-form .input-block input {
    height: 50px;
    font-size: 15px;
  }
  .login-form .input-block .type-title {
    font-size: 12px;
  }
  .login-form .input-block a {
    font-size: 15px;
    top: 11px;
  }
  .login-form .input-block i.icon {
    top: 36px;
  }
  .login-form .footer-block .signup {
    font-size: 15px;
  }
}
